* {
  font-family: monospace;
  color: black;
  background-color: moccasin;
}

.header {
  display: block;
  font-weight: bold;
  width: auto;
  background-image: url('https:..kevinjstafford.github.io/chelsea\ desktop.jpeg');
}